{% extends "base_generic.html" %}

{% block content %}
<h3 class="font-weight-normal">Меню аккаунта</<h3><p></p>

<h5 class="font-weight-normal">Пользователь: {{ first_name }} {{ last_name }}</h5>

<h5 class="font-weight-normal">Электронная почта: {{ email }}</h5>
<h5 class="font-weight-normal">Права доступа: {% if access == 'Writer'%} Доступ ко всем страницам сайта{% else %} Ограниченный доступ{% endif %}</h5>
<p></p>
<a href="{% url 'logout' %}" class="btn btn-outline-primary">Выйти</a> <a href="{% url 'pasrec' %}" class="btn btn-outline-primary">Сменить пароль</a>

{% endblock %}