{% extends "base_generic.html" %}
{% block title %}<title>Изменить запись</title>{% endblock %}
{% load static %}
{% block static %}<link rel="stylesheet" href="{% static 'css/multiple-select.css' %}">{% endblock %}
{% block content %}

<div class="container">
  <h3 class="font-weight-normal">Редактирование записи</<h3>

  <p></p>
  <form method="POST" class="post-form">{% csrf_token %}
      <h6 "font-weight-normal">{{ form.as_p }}</h6>
      <button type="submit" class="save btn btn-outline-primary">Сохранить</button>
      <a href="{% url 'delete' id %}" class="btn btn-outline-primary">Удалить запись</a>
  </form>
</div>

<script src="{% static 'js/multiple-select.js' %}"></script>
<script>
    $('select').multipleSelect();
</script>

{% endblock %}