{% extends "base_generic.html" %}
{% block title %}<title>Новая запись</title>{% endblock %}
{% load static %}
{% block static %}<link rel="stylesheet" href="{% static 'css/multiple-select.css' %}">{% endblock %}
{% block content %}


<div class="container">
	<h3 class="font-weight-normal">Новая запись</<h3>

	<p></p>
	<form method="POST" class="post-form">{% csrf_token %}
	    <h6 "my-0 mr-md-auto font-weight-normal">
	    	<p>
	    		<label for="id_date">Дата:</label> 
	    		<input name="date" required="" id="date" type="date"> 
	    		<span class="helptext">- в формате гггг-мм-дд</span>
	   	 	</p>
		   	<p>
		   	 	<label for="id_people">Ученики:</label>
					<select name="people" id="id_people" multiple="multiple">
						{% for i in people %}
							<option value="{{i.id}}">{{i}}</option>
						{% endfor %}
					</select>
					<span class="helptext">-выберите только тех, кто пришел!</span>
				</p>
							
			</h6>
	    <button type="submit" class="save btn btn-outline-primary">Сохранить</button>
	</form>
</div>

<script src="{% static 'js/multiple-select.js' %}"></script>
<script>
    $('select').multipleSelect();
</script>

{% endblock %}