{% extends "base_generic.html" %}
{% block title %}<title>Выберите класс</title>{% endblock %}
{% block content %}

<div class="container">
	<h3 class="font-weight-normal">Просмотр статистики</<h3>
	<p></p>
	<h5 class="font-weight-normal">Список всех классов, выберите один для просмотра статистики:</h5>
	<p></p>

	{% if view_class %}
		<div class="row">
			{% for i in view_class %}
				<div class="col-xs-2 mb-4 mt-2" style="width: 120px;">
					<ul class="ul">
						{% for d in i %}
							<li><a href='{{ d.id }}' class="href">{{d.school_class}} класс</a></li>
						{% endfor %}
					</ul>
				</div>
			{% endfor %}
		</div>
	{% else %}
		<li>Список пуст!</li>
	{% endif %}

</div>


{% endblock %}