{% extends "base_generic.html" %}
{% block title %}<title>Выберите класс</title>{% endblock %}
{% block content %}

<div class="container">
	<h3 class="font-weight-normal">Просмотр статистики</<h3>
	<p></p>
	<h5 class="font-weight-normal">Список всех классов, выберите один для просмотра статистики:</h5>
	<p></p>
	<ul>
	    {% if school_class %}
	      {% for i in school_class %}
	        <li>
	        	<a href='{{ i.id }}' class="href">{{i.school_class}} класс</a>
	        </li>
	      {% endfor %}
	    {% else %}
	      <li>Список пуст!</li>
	    {% endif %}
	</ul>
</div>


{% endblock %}