{% extends "base_generic.html" %}

{% block title %}<title>Статистика</title>{% endblock %}


{% block content %}

<div class="container">
  {% load static %}
  <h3 class="font-weight-normal">Просмотр статистики</h3>
  {% if order %}
  {% else %}
    <span href="" class="ref">(Настройка просмотра)</span>
    <div class="settings">
      Показать записи за последний(ие):
      <ul class="settings-list ul">
        <li><a href="/class/{{pk}}/month/">Месяц</a></li>
        <li><a href="/class/{{pk}}/half_a_year/">Полгода</a></li>
        <li><a href="/class/{{pk}}/year/">Год</a></li>
      </ul>
    </div>
  {% endif %}
  

  <p></p>
  <h5 class="font-weight-normal">Статистика для {{cls.0}} класса {% if order == '1' %}за последний месяц{% elif order == '2' %}за последние полгода{% else %}за все время:{% endif %}</h5> <p></p>

  {% if state %}

    <table class="table-responsive table-hover table">
      <thead>
        <tr>
          <th><div class="font-weight-normal">День/Ученик</div></th>
          {% for i in people %}
            <th><div class="font-weight-normal">{{i}}</div></th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for i in state %}
          <tr scope = "row">
            {% ifchanged i.date %}
              <td><div class="font-weight-normal">{{i.date}}</div></td>
              {% for d in people%}
                {% if d in i.people.all %}
                  <td><div class="font-weight-normal">+</div></td>
                {% else %}
                  <td><div class="font-weight-normal">-</div></td>
                {% endif %}
              {% endfor %}
            {% endifchanged %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h5 class="font-weight-normal">Нет ни одной записи</h5>
  {% endif %}
</div>

<script src="{% static 'js/script.js' %}"></script>
{% endblock %}