{% extends "base_generic.html" %}

{% block title %}<title>Статистика</title>{% endblock %}

{% block content %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}">
 
<script type="text/javascript" charset="utf8" src="{% static 'js/datatables.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'js/dataTables.fixedColumns.min.js' %}"></script>

<div class="container">
  <h3 class="font-weight-normal">Просмотр статистики</h3>
  <p></p>
  {% if state %}
    <table id="table" class="table-responsive table-hover table display">
      <thead>
        <tr>
          <th><div class="font-weight-normal">День/Ученик</div></th>
          {% for i in people %}
            <th><div class="font-weight-normal">{{i}}</div></th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for i in state %}
          <tr scope = "row">
            {% ifchanged i.date %}
              <td><div class="font-weight-normal">{{i.date|date:"d-m-y"}}</div></td>
              {% for d in people%}
                {% if d in i.people.all %}
                  <td><div class="font-weight-normal">+</div></td>
                {% else %}
                  <td><div class="font-weight-normal">-</div></td>
                {% endif %}
              {% endfor %}
            {% endifchanged %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <p></p>
    {% if request.user.groups.get.name == "Writer" %}
      <br>  
      <button type="button" class="btn btn-outline-primary" onclick="tableToExcel('table', 'Example')">Сохранить для Excel</button>
    {% endif %}
  {% else %}
    <h5 class="font-weight-normal">Нет ни одной записи</h5>
  {% endif %}
  <p></p>
  <p class="lead text-right stats">Просмотров: {{stats}}</p>
    
<script src="{% static 'js/table.js' %}"></script>
{% endblock %}