{% extends "base_generic.html" %}

{% block title %}<title>Статистика</title>{% endblock %}


{% block content %}

<div class="container">
  {% load static %}
  <h3 class="font-weight-normal">Просмотр статистики</<h3><p></p>
  <h5 class="font-weight-normal">Статистика для {{cls.0}} класса:</h5> <p></p>

  {% if state %}

    <table class="table-responsive table-hover table">
      <caption>В таблице приведены все записи</caption>
      <thead>
        <tr>
          <th><div class="font-weight-normal">День/Ученик</div></th>
          {% for i in people %}
            <th><div class="font-weight-normal">{{i}}</div></th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for i in state %}
          <tr scope = "row">
            {% ifchanged i.date %}
              <th><div class="font-weight-normal">{{i.date}}</div></th>
              {% for d in people%}
                {% if d in i.people.all %}
                  <th><div class="font-weight-normal">+</div></th>
                {% else %}
                  <th><div class="font-weight-normal">-</div></th>
                {% endif %}
              {% endfor %}
            {% endifchanged %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h4 class="font-weight-normal">Нет ни одной записи для {{cls.0}} класса</h4>
  {% endif %}
</div>


{% endblock %}