{% extends "base_generic.html" %}
{% block title %}<title>Выберите класс</title>{% endblock %}
{% block content %}
<div class="container">
  
  <div class="row">
    <div class="col-sm-6">
      <h3 class="font-weight-normal">Новая запись</<h3>
      <p></p>
      <h5 class="font-weight-normal">Выберите из списка один класc для добавления нового дня:</<h5>
      <p></p>

      {% if view_class %}
        <div class="row">
          {% for i in view_class %}
            <div class="col-xs">
              <ul class="ul">
                {% for d in i %}
                  <li><a href='{{ d.id }}' class="href">{{d.school_class}} класс</a></li> 
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <li class="list">Список пуст!</li>
      {% endif %}
      
    </div>
    <div class="col-sm-6">
      <h3 class="font-weight-normal">Редактировать записи</<h3>
      <p></p>
      <h5 class="font-weight-normal">Выберите из списка один класс для редактирования существующей записи:</<h5>
      <p></p>
      <ul class="ul">
        {% if state_list %}
          {% for i in state_list %}
            <li><a href="edit/{{i.id}}" class="href">{{i.date}} - {{i.school_class}}</a></li>
          {% endfor %}
            <li><a href="{% url 'list'%}" class="href">(Показать весь список)</a></li>
        {% else %}
          <li>Список пуст!</li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>


{% endblock %}