<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block title %}<title>ЕшьУдобно</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  
  <!-- Добавление дополнительного статического CSS файла -->
  {% load static %}
  <link rel="stylesheet" media="screen" href="{% static 'css/styles.css' %}">
</head>

<body>
  <div class="container">

    {% block sidebar %}
    <nav class="navbar navbar-expand-md bg-white box-shadow border-bottom align-items-center">
      <h4 class="font-weight-normal navbar-brand pl-2"><a class="text-dark" href="{% url 'index' %}">#ЕШЬУДОБНО</a></h4>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="">&#9776;</span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-md-4 mx-auto ">
          <li class="nav-item">
            <a class="p-2 text-dark nav-link" href="{% url 'index' %}">Главная страница</a>
          </li>
          <li class="nav-item">
            <a class="p-2 text-dark nav-link" href="{% url 'class' %}">Статистика</a>
          </li>
          <li class="nav-item">
            <a class="p-2 text-dark nav-link" href="{% url 'writeindex' %}">Сделать запись</a>
          </li>
          <li class="nav-item">
            <a class="pr-5 pl-2 text-dark nav-link" href="{% url 'faq'%}">Чаво</a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="p-2 text-dark nav-link" href="{% url 'account'%}">Аккаунт</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a href="{% url 'login' %}" class="btn btn-outline-primary">Войти</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    {% endblock %}

    <div class="pt-3">{% block content %}{% endblock %}</div>

  </div>
  
  <script src="script.js"></script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>