{% extends "base_generic.html" %}

{% block content %}

<div class="container">

	<h3 class="font-weight-normal">Домашняя страница</<h3><p></p>
	<h5 class="font-weight-normal">Сайт еще разрабатывается, не обращайте внимание на: дизайн, скорость работы, неправильную навигацию, плохую систему авторизации, пустую базу, отсутствие вменяемой системы настроек, баги и глюки :)</h5>
	<p></p>
	<h5 class="font-weight-normal">Почта разработчика - keltorplaylife@gmail.com - напишите ему, какой он крутой!</h5>
	<hr>

	<div class="row">
		<div class="col-lg-7">
			<h5 class="font-weight-normal block">Новостной блок:</h5>
			<p></p>
			Hello
		</div>
		<div class="col-lg-5">
			<div class="font-weight-normal block">Статистика</div>
			<p></p>
			<div class="">Количество пользователей: 15 <p></p>
				Записей в базе: 155
			</div>
		</div>
	</div>

{% endblock %}