{% extends "base_generic.html" %}

{% block content %}

<div class="container">

	<h3 class="font-weight-normal">Добро пожаловать на сайт ЕшьУдобно!</<h3><p></p>
	<h5 class="font-weight-normal"></h5>
	<p></p>
	
	{% load static %}
	<div id="demo" class="carousel slide" data-ride="carousel">

	  <!-- Indicators -->
	  <ul class="carousel-indicators">
	    <li data-target="#demo" data-slide-to="0" class="active"></li>
	    <li data-target="#demo" data-slide-to="1"></li>
	    <li data-target="#demo" data-slide-to="2"></li>
	  </ul>
	  
	  <!-- The slideshow -->
	  <div class="carousel-inner">
	    <div class="carousel-item active">
	      <img src="{% static 'img/slide1.png' %}" alt="">
	      <div class="carousel-caption text-left">
	        <h1>Просто</h1>
	        <p>Внесение данных о посещении общепита и просмотр статистики в 2 клика!</p>
	        <p>Нашим сервисом пользуются уже {{people}} человек(а), присоединяйся!</p>
	        <p><a class="btn btn-lg btn-primary" href="" role="button">Зарегистрироваться</a></p>
	      </div>
	    </div>
	    <div class="carousel-item">
	      <img src="{% static 'img/slide2.png' %}" alt="">
	      <div class="carousel-caption text-left">
	        <h1>Быстро</h1>
	        <p>Заполнение данных на 1 класс всего за 15 секунд!</p>
	        <p>Нашим сервисом пользуются уже {{people}} человек(а), присоединяйся!</p>
	        <p><a class="btn btn-lg btn-primary" href="" role="button">Зарегистрироваться</a></p>
	      </div>
	    </div>
	    <div class="carousel-item">
	      <img src="{% static 'img/slide3.png' %}" alt="">
	      <div class="carousel-caption text-left">
	        <h1>Удобно</h1>
	        <p>Продуманные фильтры для удобного просмотра на всех устройствах</p>
	        <p>Нашим сервисом пользуются уже {{people}} человек(а), присоединяйся!</p>
	        <p><a class="btn btn-lg btn-primary" href="" role="button">Зарегистрироваться</a></p>
	      </div>
	    </div>
	  </div>
	  
	  <!-- Left and right controls -->
	  <a class="carousel-control-prev" href="#demo" data-slide="prev">
	    <span class="carousel-control-prev-icon"></span>
	  </a>
	  <a class="carousel-control-next" href="#demo" data-slide="next">
	    <span class="carousel-control-next-icon"></span>
	  </a>
	</div>
	<p></p>
	<p class="lead">Заметил баг или есть хорошая идея? Напиши разработчику - keltorplaylife@gmail.com</p>
	
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
{% endblock %}